name: ci
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  id-token: write

jobs:
  plugin-ci:
    uses: mattermost/actions-workflows/.github/workflows/plugin-ci.yml@main
    secrets: inherit
    with:
      golangci-lint-version: v2.1.6
